target/
*~
c++/life
c++/life.dSYM
*.o
*.hi
javascript/node_modules
javascript/package*
go/life
scala/.bsp
haskell/life
rust/life/Cargo.lock
.idea
zig-cache
c/life
.vs
bin
*.sln
obj
__pycache__
.lein-failures
